.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

[class^='button-']{
  appearance: button;
  background-color: #807306;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 11.2%;
}

.button-unsure {
  width: 44.44%
}

.button-free {
  background-color: #045d86;
}

.button-back {
  background-color: #011985;
}

.button-fly {
  background-color: #581221;
}

.button-breast {
  background-color: #1b5f24;
}

.button-unsure {
  background-color: #3f3f3f;
}



[class^='button-']:after {
  background-clip: padding-box;
  background-color: #f6c31c;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-free:after {
  background-color: #05a1e9;
}

.button-back:after {
  background-color: #052fe9;
}

.button-fly:after {
  background-color: #bb2a4a;
}

.button-breast:after {
  background-color: #40cf53;
}

.button-unsure:after {
  background-color: #929292;
}

.button-free:main,
[class^='button-']:focus {
  user-select: auto;
}

[class^='button-']:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

[class^='button-']:active {
  background-color: #7a1b1b;
  border-color: #3a2f00;
  filter: brightness(0.8);
  transform: scale(.96);
}

[class^='button-']:disabled{
  cursor: auto;
}
